<!-- <figure class="highcharts-figure">
    <div id="container"></div>
    <p class="highcharts-description">

    </p>
</figure> -->


<mat-card>
    <mat-card-header>
        <!-- <mat-card-title>Mapa</mat-card-title> -->
    </mat-card-header>
    <mat-card-content>
        <div id="mapa-tipos"></div>
        <mat-divider></mat-divider>
        <div matListItemTitle>
            <mat-icon matListItemAvatar color="warn">horizontal_rule</mat-icon>
            Vías en obras
        </div>
    </mat-card-content>
</mat-card>