.chart-card {
  margin: 8px;
  width: 50%;
}

// #chart-alert {
//   height: 200px;
//   min-width: 310px;
//   max-width: 400px;
//   margin: 0 auto;
// }

#img-card {
  height: 150px;
  width: 200px; 
}

#mapa-alertas {
  height: 200px;
  width: 100%;
}

