<app-toolbar (openSidenav)="this.onMenuClicked()"></app-toolbar>
<!-- <app-sidenav>

</app-sidenav> -->


<mat-sidenav-container autosize>
    <mat-sidenav #snav mode="side">
        <p>Auto-resizing sidenav</p>
        <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
        <button (click)="showFiller = !showFiller" mat-raised-button>
            Toggle extra text
        </button>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>