<app-toolbar (openSidenav)="this.onMenuClicked()"></app-toolbar>
<!-- <app-sidenav>

</app-sidenav> -->


<mat-sidenav-container autosize>
    <mat-sidenav #snav mode="side" opened="true">

        <mat-nav-list role="navigation">
            <mat-list-item *ngFor="let menuitem of menuItems.getMenuitem()" [routerLink]="['/', menuitem.path]"
                routerLinkActive="active">
                <mat-icon matListItemIcon>{{ menuitem.icon }}</mat-icon>
                <div matListItemTitle>{{ menuitem.name }}</div>
            </mat-list-item>
        </mat-nav-list>

    </mat-sidenav>

    <mat-sidenav-content style="height: 100%;">
        <router-outlet></router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>