
<mat-card class="example-card">
    <mat-stepper #stepper>
        <mat-step [stepControl]="puntoInicioFormGroup" label="inicio" errorMessage="Campos requeridos.">
            <form [formGroup]="puntoInicioFormGroup">
                <ng-template matStepLabel>Selecciona Inicio de la ruta</ng-template>

                <mat-card class=" outline">
                    <mat-card-header>
                        <mat-card-subtitle>Nodo Inicio</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <mat-form-field class="form-field">
                            <mat-label>Latitud</mat-label>
                            <input matInput formControlName="latitudControl" required placeholder="x"
                                value={{nodoinicio.lat}}>

                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Longitud</mat-label>
                            <input matInput formControlName="longitudControl" required placeholder="y"
                                value={{nodoinicio.long}}>

                        </mat-form-field>
                        <mat-divider></mat-divider>
                    </mat-card-content>
                    <mat-card-actions align="end">
                        <button mat-button matStepperNext>Next</button>
                    </mat-card-actions>
                </mat-card>

            </form>
        </mat-step>
        <mat-step [stepControl]="puntoFinalFormGroup" label="Selecciona Fin de la ruta"
            errorMessage="Campos requeridos.">
            <form [formGroup]="puntoFinalFormGroup">
                <ng-template matStepLabel>Selecciona Fin de la ruta</ng-template>
                <mat-card class=" outline">
                    <mat-card-header>
                        <mat-card-subtitle>Nodo Fin</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>

                        <mat-form-field class="form-field">
                            <mat-label>Latitud</mat-label>
                            <input matInput formControlName="latitudControl" required placeholder="x"
                                value={{nodofin.lat}}>

                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Longitud</mat-label>
                            <input matInput formControlName="longitudControl" required placeholder="y"
                                value={{nodofin.long}}>

                        </mat-form-field>
                        <mat-divider></mat-divider>
                    </mat-card-content>
                    <mat-card-actions align="end">
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                    </mat-card-actions>
                </mat-card>
            </form>
        </mat-step>
        <mat-step label="Ver tramos implicados">
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
            </div>
        </mat-step>
    </mat-stepper>
</mat-card>
<mat-card class="example-card resizable-card">

    <div id="map-nodos"></div>

</mat-card>