<mat-card class="example-card">
    <mat-stepper #stepper animationDuration="1350" optional="false" linear="true">
        <mat-step [stepControl]="puntoInicioFormGroup" label="puntoinicio" errorMessage="Campos requeridos."
            state="pin">
            <form [formGroup]="puntoInicioFormGroup">
                <ng-template matStepLabel>Selecciona Inicio de la ruta</ng-template>
                <mat-card class=" outline">
                    <mat-card-header style="padding-bottom: 8px;">
                        <mat-card-subtitle>Nodo Inicio</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <mat-form-field appearance="outline">
                            <mat-label>Longitud</mat-label>
                            <input matInput readonly= true formControlName="longitudControl" required placeholder="x">
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="form-field">
                            <mat-label>Latitud</mat-label>
                            <input matInput readonly= true formControlName="latitudControl" required placeholder="y">
                        </mat-form-field>
                        <mat-divider></mat-divider>
                    </mat-card-content>
                    <mat-card-actions align="end">
                        <button mat-button matStepperNext (click)="addInicio()">Next</button>
                    </mat-card-actions>
                </mat-card>

            </form>
        </mat-step>
        <mat-step [stepControl]="puntoFinalFormGroup" label="puntofinal" errorMessage="Campos requeridos." state="pin">
            <form [formGroup]="puntoFinalFormGroup">
                <ng-template matStepLabel>Selecciona Fin de la ruta</ng-template>
                <mat-card class="outline">
                    <mat-card-header style="padding-bottom: 8px;">
                        <mat-card-subtitle>Nodo Fin</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <mat-form-field appearance="outline">
                            <mat-label>Longitud</mat-label>
                            <input matInput readonly= true formControlName="longitudControl" required placeholder="x">
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="form-field">
                            <mat-label>Latitud</mat-label>
                            <input matInput readonly= true formControlName="latitudControl" required placeholder="y">
                        </mat-form-field>
                        <mat-divider></mat-divider>
                    </mat-card-content>
                    <mat-card-actions align="end">
                        <button mat-button matStepperPrevious (click)="update()">Back</button>
                        <button mat-button matStepperNext (click)="addFinal()" >Next</button>
                    </mat-card-actions>
                </mat-card>
            </form>
        </mat-step>
        <mat-step label="Calcular ruta" state="route">
            <mat-card class="outline">
                <mat-card-header>
                    <mat-card-subtitle>Resumen</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <mat-list style="display: flex;">
                        <mat-list-item>
                            <mat-icon matListItemAvatar color="accent">location_on</mat-icon>
                            <div matListItemTitle>Nodo Inicio</div>
                            <div matListItemLine>( {{nodoinicio.long}} , {{nodoinicio.lat}} )</div>
                        </mat-list-item>
                        <mat-list-item>
                            <mat-icon matListItemAvatar color="warn">location_on</mat-icon>
                            <div matListItemTitle>Nodo Fin</div>
                            <div matListItemLine>( {{nodofin.long}} , {{nodofin.lat}} )</div>
                        </mat-list-item>
                    </mat-list>
                    <mat-divider></mat-divider>
                </mat-card-content>
                <mat-card-actions align="end">
                    <button style="margin: 4px;" mat-button matStepperPrevious (click)="addFinal()">Back</button>
                    <button mat-button (click)="reset()">Reset</button>
                    <button style="margin: 4px;" mat-flat-button color="primary" (click)="calcularRuta()">Calcular ruta
                        <mat-icon>route</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>
        </mat-step>
        <!-- Icon overrides. -->
        <ng-template matStepperIcon="pin">
            <mat-icon>location_on</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="route">
            <mat-icon>route</mat-icon>
        </ng-template>
    </mat-stepper>

</mat-card>
<mat-card class="example-card resizable-card">

    <div id="map-nodos"></div>

</mat-card>