.example-card {
  padding: 8px;
  margin: 10px;
}

#map-nodos {
  min-height: 300px;
  width: 100%;
  height: 100%;
}

.resizable-card {
  resize: both;
  overflow: auto;
}

.outline {
  border: 0.2px solid #4b4a4a;
  height: fit-content;
  width: fit-content;
  box-shadow: none !important;
}

.form-field {
  padding: 4px;
}
